:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #242424;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #242424;
  text-decoration: none;
}

body {
  width: max-content;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3 {
  font-weight: 600;
  color: #333;
}

a {
  text-decoration: nonde;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 20px;
  }
}
